<div id="dungeon_run_summary">
  <div class="mb-1 font-bold">
    <%= dungeon_run.dungeon.name %>
  </div>

  <% if dungeon_run.active? %>

    <div class="mb-1">
      Floor: <%= floor_level %>
    </div>

    <div>
      Room: <%= room_name %>
    </div>

  <% else %>

    <div class="mb-2">
      This run ended because:

      <% case dungeon_run.ended_reason %>
      <% when DungeonRun::EndedReason::COMPLETED %>
        You completed the dungeon!
      <% when DungeonRun::EndedReason::DIED %>
        You died...
      <% when DungeonRun::EndedReason::ELECTIVE %>
        You chose to leave.
      <% end %>
    </div>

    <%= link_to "Back to characters", characters_path, class: "Link", data: { "turbo-frame": :_top} %>

  <% end %>
</div>
