<div id="dungeon_run_summary">
  <div class="mb-1 flex items-center justify-between">
    <div>
      <strong><%= dungeon_run.dungeon.name %></strong>

      <i><%= dungeon_run.active? ? floor_level : run_number %></i>
    </div>

    <div>
      <% if dungeon_run.active? %>
        <i><%= room_name %></i>
      <% end %>
    </div>
  </div>

  <% if dungeon_run.ended? %>
    <div class="mb-2">
      This run ended because:

      <% case dungeon_run.ended_reason %>
      <% when DungeonRun::EndedReason::COMPLETED %>
        You completed the dungeon!
      <% when DungeonRun::EndedReason::DIED %>
        You died...
      <% when DungeonRun::EndedReason::ELECTIVE %>
        You chose to leave.
      <% end %>
    </div>

    <%= link_to "Back to characters", characters_path, class: "Link", data: { "turbo-frame": :_top} %>
  <% end %>
</div>
