<div id="doors" class="absolute bottom-0 left-0 right-0 h-36 border-t-2 border-gray-300">
  <%# TODO: Add Stimulus controller for collapsing navigation %>
  <% POSSIBLE_DIRECTIONS.each do |direction| %>
    <% if dungeon_run.current_room.send(:"#{direction}_room").present? %>
      <div class="absolute <%= direction_classes(direction) %>">
        <%=
          link_to(
            direction.to_s.titleize,
            go_dungeon_run_path(dungeon_run, direction:),
            class: "Link",
            disabled: true,
            data: { "turbo-disabled": true }
          )
        %>
      </div>
    <% end %>
  <% end %>
</div>
