<div id="navigation" class="Navigation">
  <% adjacent_tiles.each do |direction, tile| %>
    <div class="
      Navigation-link
      Navigation-link<%= direction.to_s.titleize %>
    ">
      <%=
        link_to(
          LINK_TEXT[direction],
          "#go_to",
          class: "Link"
        )
      %>
    </div>
  <% end %>
</div>
