<div class="flex text-xs items-center p-1">
  <span class="w-5 mr-1">
    <%= label %>
  </span>

  <div class="w-full rounded-full bg-gray-100">
    <div
      class="<%= fill_color_class %> <%= bar_height_class %> rounded-full"
      style="width: <%= fill_percent %>%"
    >
    </div>
  </div>
</div>
