<%= render HeadingComponent.new(title: "#{character.name}'s Inventory") %>

<%#
  TODO: build an inventory UI
  Key Features:
    - display each item with raw value & basic effect
    - use/equip/unequip/drop buttons
    - show character stats and auto-update when equipment changes
    - add sorting/filtering by item type/slot
%>

<%= render CharacterStatsComponent.new(character) %>

<hr class="my-4" />

<% character.inventory_items.each do |inventory_item| %>
  <div>
    <%= inventory_item.name %>
  </div>
<% end %>
