<%= render HeadingComponent.new(title: "Characters") %>

<div class="CharacterSelect">
  <% characters.each do |character| %>
    <div class="CharacterSelect-tile">
      <div class="CharacterSelect-level">
        Lvl. <%= character.level %>
      </div>
      <div class="CharacterSelect-name">
        <%= character.name %>
      </div>

      <%= link_to "Select", character_path(character), class: "Button Button--full" %>
    </div>
  <% end %>
</div>
