.EventLog {
  display: flex;
  align-items: center;

  &-timestamp {
    font-family: monospace;
    margin-right: spaces(1);
    font-size: $font-size-xs;
    color: $slate-400;
  }
  
  &-message {
    font-size: $font-size-s;
  }
}
