.Flash {
  box-shadow: $shadow-md;
  margin-bottom: spaces(2);
  border-radius: $border-radius-small;
  padding: spaces(1) spaces(2);
  width: auto;

  &-alert {
    background-color: $rose-500;
  }

  &-warning {
    background-color: $yellow-300;
  }
  
  &-notice {
    background-color: $lime-400;
  }
}
