.GamePanel {
  &-characters {
    display: flex;
    justify-content: flex-start;

    & > :not(:last-child) {
      margin-bottom: spaces(1);

      @media (min-width: $breakpoint-medium) {
        margin-right: spaces(1);
        margin-bottom: 0;
      }
    }
  }

  &-characters {
    display: flex;
    flex-direction: column;
    
    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
  }

  &-location {

    &Coords {
      font-size: $font-size-xs;
      color: $slate-400;
      font-style: italic;
    }
  }
}
