.Heading {
  font-weight: $font-weight-bold;

  &--h1 {
    margin-bottom: spaces(2);
    font-size: $font-size-h1;
  }

  &--h2 {
    margin-bottom: spaces(2);
    font-size: $font-size-h2;
  }

  &--h3 {
    margin-bottom: spaces(1);
    font-size: $font-size-h3;
  }
}
