.Main {
  position: relative;
  box-shadow: $shadow-md;
  margin-right: auto;
  margin-left: auto;
  border-radius: $border-radius-s;
  padding: spaces(2);
  width: auto;
  height: 100%;
  max-width: 1200px;
  overflow-y: auto;
  background-color: $white;
}
