.MonsterSummary {
  margin-bottom: spaces(2);
  padding: spaces(2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $slate-300;
  border-radius: $border-radius-large;

  &-details {
    margin-bottom: spaces(1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-l;

    &--defeated {
      margin-bottom: 0;
    }
  }

  &-name {
    margin-right: spaces(1);
  }

  &-defeatedTag {
    color: $slate-400;
    font-size: $font-size-xs;
    font-style: italic;
  }

  &-loot {
    margin-bottom: spaces(0.5);
    display: flex;
    align-items: center;
    color: $slate-400;

    &Name {
      margin-right: spaces(1);
    }
  }
}
