.PcSummary {
  border: 1px solid $slate-900;
  padding: spaces(0.5) spaces(1) spaces(1);
  border-radius: $border-radius-s;

  @media (min-width: $breakpoint-medium) {
    width: 180px;
  }

  &-name {
    font-size: $font-size-s;
    font-weight: $font-weight-semibold;
    display: flex;
    justify-content: space-between;
  }

  &-level {
    font-size: $font-size-xs;
    font-style: italic;
    color: $slate-400;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
